<p>
    <div id="removeTileActionContainer">
        <input id="removeTileAction" type="radio" name="worldAction" checked="checked" />
        <strong>Remove Tile</strong> (1 key)
    </div>
    <div id="placeTileActionContainer">
        <input id="placeTileAction" type="radio" name="worldAction" />
        <strong>Place Tile</strong> (2 key)
    </div>
    <div id="inspectTileActionContainer">
        <input id="inspectTileAction" type="radio" name="worldAction" />
        <strong>Inspect Tile</strong> (3 key)
    </div>
    <div id="attackTileActionContainer">
        <input id="attackTileAction" type="radio" name="worldAction" />
        <strong>Attack</strong> (4 key)
    </div>
</p>


