<p>
    <div id="mineWorldActionContainer">
        <input id="mineWorldAction" type="radio" name="worldAction" checked="checked" />
        <strong>Mine Tile</strong> (1 key)
    </div>
    <div id="placeWorldActionContainer">
        <input id="placeWorldAction" type="radio" name="worldAction" />
        <strong>Place Tile</strong> (2 key)
    </div>
    <div id="inspectWorldActionContainer">
        <input id="inspectWorldAction" type="radio" name="worldAction" />
        <strong>Inspect Tile</strong> (3 key)
    </div>
    <div id="attackWorldActionContainer">
        <input id="attackWorldAction" type="radio" name="worldAction" />
        <strong>Attack</strong> (4 key)
    </div>
</p>


