
input[type="radio"] {
    vertical-align: 2px;
}

.redButton, .redButton:active {
    background: #884444;
    cursor: default;
}

button {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
}


